*,
*::before,
*::after{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    font: 14px, helvetica, arial, sans-serif;
    line-height: 1.4em;
    background: whitesmoke;
    color: black;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
    /* border: 1px solid; */
}

.todoapp{
    background: white;
    margin: 150px 0 40px;
    padding: 50px 1rem 10px;
    position: relative;
    box-shadow: 10px 10px 50px 20px rgba(204, 124, 124, 0.3);
}

.todoapp h1{
    color: rgb(194, 58, 8);
    text-align: center;
    font-size: 5em;
}

.new-todo, .edit{
    width: 100%;
    padding: 1rem;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 3%);
}

.destroy{
    /* display: none; */
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: rgb(15, 8, 0);
    transition: color .2s ease-out;
    background: transparent;
    border: none;
    cursor: pointer;
}

.destroy:hover, .destroy:focus{
    color: rgb(255, 0, 0);
}

.destroy::after{
    content: "x";
    /* display: block; */
    /* height: 100%; */
    line-height: 1.1;
}

.todolist li label{
    padding: 15px 15px 15px 60px;
    display: block;
    font-weight: normal;
    color: #535050;
}

.toggle{
    opacity: 0;
    position: absolute;
    width: 40px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    bottom: none;
}

.toggle + label{
    background-image: url('./icons/unchecked.svg');
    background-repeat: no-repeat;
    background-position: center left;
}

.toggle:checked + label{
    background-image: url('./icons/checked.svg');
    /* background-repeat: no-repeat;
    background-position: center left; */
}


.todolist .edit-input .edit{
    display: none;
}

.todolist .c_editing .view{
    display: none;
}

.todolist .c_editing .edit{
    display: block;
}